.addButton {
    width: 70%;
    transition: all 0.3s;
    background-color: green;
    color: white;
    border: 2px solid green;
    border-radius: 5px;
    cursor: pointer;
}

.addButton:hover{
    width: 80%;
}

.product__name{
    color: white;
}
