.asideCart {
    height: 100vh;
    width: 230px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(16, 50, 129);
    position: fixed;
    bottom: 0;
    right: 0;
}

.asideCart__content{
    text-align: center;
}

.asideCart__upperBox{
    display: flex;
    width: 100%;
    flex-direction: column; 
    line-height: 1.2;
    color: white;
    padding: 0;
    list-style: none;
}

.upperBox__title {
    font-family: 'Arial';
    font-size: 45px;
    color: white;
    text-align: center;
    justify-content: center;
}

.upperBox__products {
    display: flex;
    color: white;
    margin-bottom: 5px;
    justify-content: space-between;
    line-height: 0.1;
    align-items: center;
}

.removeButton {
    color: white;
    background-color: rgb(16, 50, 129);
    border: 2px solid white;
    border-radius: 5px;
    transition: all 0.3s;
    font-weight: bold;
}

.removeButton:hover {
    background-color: red;
    cursor: pointer;
}