.quantity {
    width: 100px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.inputNumber{
    width: 60px;
    text-align: center;
}