.quantity{
    display: flex;
    text-align: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.inputNumber {
    width: 70px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    line-height: 0px;
    border: 2px solid rgb(16, 50, 129);
    border-radius: 5px;
}